NIOHTTPResponseDecompressor doesn't work without Content-Length header

### Expected behavior
Compressed responses that do not contain a `Content-Length` header should be decompressed.

### Actual behavior
If the `Content-Length` header is missing, the handler won't act on the body data and will directly pass compressed data to the next handlers

### Steps to reproduce
Configure a pipeline as usual with a NIOHTTPResponseDecompressor and give it a compressed response without a `Content-Length` header

### SwiftNIO-Extras version/commit hash
Current version at the time of posting this issue is `1.4.0`

### Swift & OS version (output of `swift --version && uname -a`)
Independent of Swift/OS version

It is worth noting that if there is a `Transfer-Encoding` header there **should not** be a `Content-Length` one... So properly handling that case is important. Ref. RFC 7230 sections 3.3.1 and 3.3.2.